
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.container-Sidebar-view-directivo{
    display: flex;
    width: 98%;
   
 
}

.title-consejo-directivo{
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgb(39, 26, 10);
    font-family: 'Playfair Display', serif;
}

.title-consejo-directivo-periodo-vigente{
    font-size: 15px;
    text-align: start;
    font-family: 'Playfair Display', serif;
    
}
.title-consejo-directivo-fecha{
    font-size: 15px;
    text-align: start;
    font-family: 'Playfair Display', serif;
}
.title-consejo-directivo-exportar-formato-excel{
    font-size: 15px;
    text-align: start;
    font-family: 'Playfair Display', serif;
    color: green;
    font-weight: bold;
}


.container-consejo-directivo-title-and-icon{
    display: flex;

}