
.card {
  border-left: 4px solid #2f678d !important;
  }


.title-perfil-datos-personales{
    font-weight: bold; /* Establece la negrita */
    font-family: "Playfair Display", serif;
  }


.card-title-perfil-datos-personales{
    font-family: "Playfair Display", serif;
    font-weight: bold; /* Establece la negrita */
  }