.card {
    border-left: 4px solid #3498db !important; /* Agrega un borde izquierdo azul de 4 píxeles */
  }

  .title-perfil-datos-personales{
    font-weight: bold; /* Establece la negrita */
    font-family: "Playfair Display", serif;
  }

  .card-title-perfil-datos-personales{
    font-family: "Playfair Display", serif;
    font-weight: bold; /* Establece la negrita */
  }