@import 'vars';
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.container-expediente-socio{
    margin: 5px;
}
.title-container-expediente-socio{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #076024;

}
#mostrar-modal-documento-socio {
	display: none;
	+ label {
        background: linear-gradient(to bottom right, #076024, #00b65f);
        display: table;
        margin: auto;
        color: #fff;
        line-height: 3.7;
        padding: 0 1em;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 7%;
        
		&:hover {
			background: darken(steelblue,10%);
		}
	}
  &:checked { 
    & ~ #modal-show-document {
        top: 20px;
    
	  }
    & ~ #cerrar-modal + label {
      display: block;
    }
  }
}

.Documentos-asociado-padron-socio{
    color: green;
    font-weight: bold;   
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.container-combo-socio{
    display: inline-block; 
    margin-right: 10px;
  
    
}
.title-cotitular-conyugue-p{
    display: inline-block; /* O también puedes usar 'display: inline;' */
    margin-right: 10px;
    width: auto !important;
    
}

.container-puesto-negocio-estado{
    padding-top: 10px;
}
.container-dominio-acciones{
    padding-top: 10px;
}

#myCombobox-socio{
    border: none; /* Quita el borde */
    background-color: #dfc47a; /* Agrega un fondo para resaltar el combobox */
    padding: 5px; /* Agrega un espacio interno para un aspecto mejorado */
    border-radius: 5px; /* Agrega esquinas redondeadas para un aspecto suave */
}

.container-expediente-socio .Partida-registral-socio-title{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    display: inline-block; /* O también puedes usar 'display: inline;' */
}

.Partida-registral-socio-title-p{
    font-family: 'Playfair Display', serif;
    display: inline-block; /* O también puedes usar 'display: inline;' */
    margin-right: 10px; /* Agrega un margen derecho para separar los elementos */
}

.container-expediente-contactChoice1-socio{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    padding-right: 5px;

}

.container--expediente-socio{
    display: flex;

}
.foto-expediente-socio{
    width: 70%;
    height: 50%;
}

.title-info-personal-expediente{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #ea1f1f;
}
.container-info-personal{
    display: flex;
   
}
.title-datos-personales-expediente-filter{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
.container-partida-filter-expediente{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    display: inline-block; 
    margin-right: 10px;
}

.title-numero-partida{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    
}

.title-oficina-registral{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.title-area{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
.title-estado{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
.title-tipo-dominio{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    
}

.title-acciones-drechos{
    font-family: 'Playfair Display', serif;
    font-weight: bold; 
}

.title-direccion-socios{
    font-family: 'Playfair Display', serif;
    font-weight: bold; 
}
.title-co-conyugue-socio{
    font-family: 'Playfair Display', serif;
    font-weight: bold; 
}

.container-right-info-inmebles-doc{
    border-left: 1px solid #b3aeae;
}
@media  screen and (max-width: 766px){
    .foto-expediente-propietario {
        width: 39%;
        height: 50%;
    }
}