
.container-form-socios .form-foto-perfil-socio{
    margin-top: 28%;
    width: 100%;
    height: 85%;
}


.container-form-socios {
    display: flex;
    justify-content: center;
}
.container-form-socios .form-socios-details{
    width: 100%;
    background: #43A047;
    border-radius: 2%;
    padding-right: 2%;
}


.container-form-socios .input-form-socios{
    padding-left: 2%;
    padding-right: 2%;

}

.container-form-socios .input-form-sociosP{
    padding-left: 2%;

}

.container-form-socios .input-form-sociosR{
    padding-right: 2%;

}