
  .progress {
    width: 100%;
  }

  /* Cambia el color de fondo de la barra de progreso */
  .progress::-webkit-progress-bar {
    background-color: #00bcd4;
  }

  /* Cambia el color del relleno de la barra de progreso */
  .progress::-webkit-progress-value {
    background-color: #00bcd4;
  }

  /* Cambia el color del borde de la barra de progreso */
  .progress::-moz-progress-bar {
    background-color: #00bcd4;
  }
