#root{
    height: 100%;
}

.page-link{
    font-size: 12px !important;
  }

#modal1-sombra-form-Prop{
    position: fixed;
    inset: 0px;
    background-color: rgba(99, 95, 95, 0.75) !important;
    z-index: 1025;
}
.title-info-personal-expediente{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #ea1f1f;
    
}

.icono-close-register-directivo{
    margin-left: -1.9%;
    margin-top: 0.1%;
    height: 5% !important;
    width: 2.6% !important;
    border-radius: 20px;
    background-color: #554f4f;
    z-index: 99999999;
}

.icono-close-edit-directivo {
    margin-left: -2%;
    margin-top: 0.3%;
    height: 3.9% !important;
    width: 1.7% !important;
    border-radius: 20px;
    background-color: #554f4f;
    z-index: 99;
}