.container-order-a-z-propietario{
    display: flex;

}

.title-codigo-propietario{
    background: none;
	border: none;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	text-align: inherit;
	text-transform: none;
}

.search-register-propietarios{
    display: flex;
    justify-content: center;
    align-items:center;

}


#mostrar-form-documento-propietarios-upload {
	display: none;
	+ label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px; /* Mitad del tamaño del botón */
    background: linear-gradient(to bottom right, #807110, #f6e67f);
    color: white;
    border: none;
    cursor: pointer;
    transition: width 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    white-space: nowrap;

        
		&:hover {
      width: 350px; /* Ancho automático */
      background-color: #0056b3;
        .button-text {
        
          display: inline-block;
          opacity: 1;
          transform: translateX(0);
          
        }
		}
	}
  &:checked { 
    & ~ #modal {
        top: 64px;
    
	  }
    & ~ #cerrar-modal + label {
      display: block;
    }
  }
}



.registrar-nuevo-propietarios-add-delete-export-import{
    padding-top: 5px;
}

#mostrar-form-documento-propietarios-person-add{
    display: none;
	+ label {
       background: linear-gradient(to bottom right, #668a28, #84b332);
        text-align: center;
        display: table;
        color: #fff;
        line-height: 2.5;
        padding: 0 1em;
        cursor: pointer;
        border-radius: 7px;
        width: 100%;
		&:hover {
			background: darken(rgb(158, 201, 235),10%);
		}
	}
  &:checked { 
    & ~ #modal {
        top: 64px;
    
	  }
    & ~ #cerrar-modal + label {
      display: block;
    }
  }  
}

#mostrar-form-documento-propietarios-person-add-delete{
    display: none;
	+ label {
       background: linear-gradient(to bottom right, #282a8a, #84b332);
        text-align: center;
        display: table;
        color: #fff;
        line-height: 2.5;
        padding: 0 1em;
        cursor: pointer;
        border-radius: 7px;
        width: 100%;
		&:hover {
			background: darken(rgb(158, 201, 235),10%);
		}
	}
  &:checked { 
    & ~ #modal {
        top: 64px;
    
	  }
    & ~ #cerrar-modal + label {
      display: block;
    }
  }   
}

#mostrar-form-documento-propietarios-person-add-export{
    display: none;
	+ label {
       background: linear-gradient(to bottom right, #668a28, #84b332);
        text-align: center;
        display: table;
        color: #fff;
        line-height: 2.5;
        padding: 0 1em;
        cursor: pointer;
        border-radius: 7px;
        width: 100%;
		&:hover {
			background: darken(rgb(158, 201, 235),10%);
		}
	}
  &:checked { 
    & ~ #modal {
        top: 64px;
    
	  }
    & ~ #cerrar-modal + label {
      display: block;
    }
  }    
}


#mostrar-form-documento-propietarios-person-add{
    display: none;
	+ label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px; /* Mitad del tamaño del botón */
    background: linear-gradient(to bottom right, #194b05, #10d677);
    color: white;
    border: none;
    cursor: pointer;
    transition: width 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
		&:hover {
		  width: 150px; /* Ancho automático */
      background-color: #0056b3;
        .button-text {
        
          display: inline-block;
          opacity: 1;
          transform: translateX(0);
          
        }
		}
	}
  &:checked { 
    & ~ #modal-mostrar-form-documento-propietarios-person-add-import {
        top: 20px;
    
	  }
    & ~ #cerrar-modal + label {
      display: block;
    }
  }     
}
.conatiner-registro-padron-propietarios{
    width: 100%;
}


#modal-mostrar-form-documento-propietarios-person-add-import {
	//background:rgba(#000,.9);
    z-index: 9999;
	color: #fff;
	position: fixed;
	top: -100vh;
	left: 0;
	height: 100vh;
	width: 100vw;
	transition: all .5s;
	p {
		width: 60%;
		height: 40%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		font-size: 1.5em;
		text-align: center;
	} 
}


#mostrar-form-documento-propietarios-person-add-export{
  display: none;
+ label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 25px; /* Mitad del tamaño del botón */
  background: linear-gradient(to bottom right, #076024, #00b65f);
  color: white;
  border: none;
  cursor: pointer;
  transition: width 0.3s ease, background-color 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
  &:hover {
    width: 150px; /* Ancho automático */
    background-color: #076024;
      .button-text {
      
        display: inline-block;
        opacity: 1;
        transform: translateX(0);
        
      }
  }
}
&:checked { 
  & ~ #modal-mostrar-form-documento-propietarios-person-importar-excel {
      top: 170px;
  
  }
  & ~ #cerrar-modal + label {
    display: block;
  }
}     
}
.conatiner-registro-padron-propietarios{
  width: 100%;
}


#modal-mostrar-form-documento-propietarios-person-importar-excel {
//background:rgba(#000,.9);
  z-index: 9999;
color: #fff;
position: fixed;
top: -100vh;
left: 0;
height: 100vh;
width: 100vw;
transition: all .5s;
p {
  width: 60%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
} 
}



#mostrar-form-documento-propietarios-person-add-delete{
  display: none;
+ label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 25px; /* Mitad del tamaño del botón */
  background: linear-gradient(to bottom right, rgb(173, 4, 4), rgb(214, 151, 151));
  color: white;
  border: none;
  cursor: pointer;
  transition: width 0.3s ease, background-color 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
  &:hover {
    width: 150px; /* Ancho automático */
      background-color: rgb(173, 4, 4);
        .button-text {
        
          display: inline-block;
          opacity: 1;
          transform: translateX(0);
          
        }
  }
}
&:checked { 
  & ~ #modal-mostrar-form-documento-propietarios-person-dar-baja {
      top: 20px;
  
  }
  & ~ #cerrar-modal + label {
    display: block;
  }
}     
}
.conatiner-registro-padron-propietarios{
  width: 100%;
}


#modal-mostrar-form-documento-propietarios-person-dar-baja {
//background:rgba(#000,.9);
  z-index: 9999;
color: #fff;
position: fixed;
top: -100vh;
left: 0;
height: 100vh;
width: 100vw;
transition: all .5s;
p {
  width: 60%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
} 
}




#mostrar-form-documento-propietarios-person-add-import{
  display: none;
+ label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 25px; /* Mitad del tamaño del botón */
  background: linear-gradient(to bottom right, #076024, #00b65f);
  color: white;
  border: none;
  cursor: pointer;
  transition: width 0.3s ease, background-color 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
  &:hover {
    width: 150px; /* Ancho automático */
    background-color: #0056b3;
      .button-text {
      
        display: inline-block;
        opacity: 1;
        transform: translateX(0);
        
      }
  }
}
   
}
