.container-order-a-z-propietario {
  display: flex;
  font-size: 16px;
}

.container-busqueda-upload-documentos {

  width: 100%;
  margin-left: 0% !important;
  background-color: #f5f5f5;
  border-color: #ddd;
  list-style: none;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid #dedede;
}

.container-pagination-propietarios {
  padding: 5px;
  background-color: #f5f5f5;
    height: 8%;
    border-top: 1px solid #dedede;
  

}



.custom-pagination-icon {
  font-size: 18px;
  /* Tamaño de fuente para reducir la altura */
  line-height: 1;
  /* Espaciado entre líneas para controlar la altura */
}

/* Estilo para la etiqueta "Filas por página" */
.row-per-page-label {
  margin-right: 10px;

}

/* Estilos para el selector */
.row-per-page-select {
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  /* Quita el contorno al hacer clic */
}

td {
  font-size: 16px;
  /* Tamaño de fuente para toda la tabla */
  color: #344644 !important;
  /* Color de texto para toda la tabla */
}

#mostrar-modal-documento-propietario {
  display: none;

  +label {
    //background: linear-gradient(to bottom, #f1c40f 0, #f39c12 100%);
    // display: table;
    // margin: auto;
    // color: #fff;
    // line-height: 3.7;
    padding: 0 1em;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 7%;
    display: inline-block;
    //border: 2px solid #3498db; /* Color del borde */
    border-radius: 10px;
    /* Radio del borde */
    padding: 10px;
    /* Espacio alrededor del icono */
    background-color: #fff;
    /* Color de fondo */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Sombra para un aspecto tridimensional */
    transition: transform 0.3s ease;
    /* Efecto de transformación al pasar el mouse */


    &:hover {
      background: darken(steelblue, 10%);
    }
  }

  &:checked {
    &~#modal-show-document {
      top: 20px;

    }

    &~#cerrar-modal+label {
      display: block;
    }
  }
}

.upload-documents-propietarios {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-table-registro-propietario {

  overflow-y: auto;
  height: 60vh;

}

/* Deshabilitar overflow-x:auto en .table-responsive */
.table-responsive {
  overflow-x: initial !important;
}

.outer-table-registro-propietario {

  width: 100%;
  -layout: fixed;
}

.outer-table-registro-propietario th {
  text-align: left;
  top: 0;
  position: sticky;
  background-color: white;
}

.title-codigo-propietario {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  text-align: inherit;
  text-transform: none;
}

.search-register-propietarios {
  display: flex;
  justify-content: center;
  align-items: center;
}



.registrar-nuevo-propietarios-add-delete-export-import {
  padding-top: 5px;

}



#mostrar-form-documento-propietarios-person-add {
  display: none;

  +label {
    // display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: width 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 1em;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    color: #2ecc71;
    padding: 10px;
    /* Espacio alrededor del icono */
    background-color: #fff;
    /* Color de fondo */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Sombra para un aspecto tridimensional */
    transition: width 0.3s ease, background-color 0.3s ease, transform 0.3s ease;

    /* Efecto de transformación al pasar el mouse */
    &:hover {
      width: 150px;
      /* Ancho automático */
      background-color: #fff;

      .button-text {
        display: inline-block;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &:checked {
    &~#modal-mostrar-form-documento-propietarios-person-add-import {
      top: 20px;
    }

    &~#cerrar-modal+label {
      display: block;
    }
  }
}

.conatiner-registro-padron-propietarios {
  width: 100%;
}

#modal-mostrar-form-documento-propietarios-person-add-import {
  //background:rgba(#000,.9);
  z-index: 9999;
  color: #fff;
  position: fixed;
  top: -580vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;

  p {
    width: 60%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
  }
}

#mostrar-form-documento-propietarios-person-add-export {
  display: none;

  +label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: width 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 1em;
    text-transform: uppercase;
    cursor: pointer;

    color: #3498db;
    padding: 10px;
    /* Espacio alrededor del icono */
    background-color: #fff;
    /* Color de fondo */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Sombra para un aspecto tridimensional */
    transition: width 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    /* Efecto de transformación al pasar el mouse */

    &:hover {
      width: 150px;
      /* Ancho automático */
      background-color: #fff;

      .button-text {
        display: inline-block;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &:checked {
    &~#modal-mostrar-form-documento-propietarios-person-importar-excel {
      top: 170px;
    }

    &~#cerrar-modal+label {
      display: block;
    }
  }
}

.conatiner-registro-padron-propietarios {
  width: 100%;
}

#modal-mostrar-form-documento-propietarios-person-importar-excel {
  //background:rgba(#000,.9);
  z-index: 9999;
  color: #fff;
  position: fixed;
  top: -580vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;

  p {
    width: 60%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
  }
}

#mostrar-form-documento-propietarios-person-add-delete {
  display: none;

  +label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: width 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 1em;
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(173, 4, 4);
    padding: 10px;
    /* Espacio alrededor del icono */
    background-color: #fff;
    /* Color de fondo */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Sombra para un aspecto tridimensional */
    transition: width 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    /* Efecto de transformación al pasar el mouse */

    &:hover {
      width: 150px;
      /* Ancho automático */
      background-color: #fff;

      .button-text {
        display: inline-block;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &:checked {
    &~#modal-mostrar-form-documento-propietarios-person-dar-baja {
      top: 20px;
    }

    &~#cerrar-modal+label {
      display: block;
    }
  }
}

.conatiner-registro-padron-propietarios {
  width: 100%;
}

.btn-gestion-delete-info-propietario {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  text-align: inherit;
  text-transform: none;
  width: 25%;
}

.table-column-gestion-info-propietario {
  display: flex;
  justify-content: space-between;
}

.sticky-column-propietario {
  position: sticky;
  right: 0;
  background-color: white;
  /* Opcional: Cambia el fondo para que parezca fija */
}

#modal-mostrar-form-documento-propietarios-person-dar-baja {
  //background:rgba(#000,.9);
  z-index: 9999;
  color: #fff;
  position: fixed;
  top: -580vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;

  p {
    width: 60%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
  }
}

#mostrar-form-documento-propietarios-person-add-import {
  display: none;

  +label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: width 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 1em;
    text-transform: uppercase;
    cursor: pointer;
    color: #2ecc71;
    padding: 10px;
    /* Espacio alrededor del icono */
    background-color: #fff;
    /* Color de fondo */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Sombra para un aspecto tridimensional */
    transition: width 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    /* Efecto de transformación al pasar el mouse */

    &:hover {
      width: 150px;
      /* Ancho automático */
      background-color: #fff;

      .button-text {
        display: inline-block;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

.pagination.pagination-right {
  display: flex;
  justify-content: end;
}



@media screen and (min-width: 1391px) {
  .conatiner-registro-padron-propietarios {
    width: 83.5%;
    margin-left: 1%;
  }

  .conatiner-registro-padron-propietarios-select-togle-false {
    width: 90.5%;
    margin-left: 2%;
    transition: width 2s ease;
    /* Agrega una transición suave a la propiedad left */
  }

  /* Otros estilos aquí */
}

@media screen and (max-width: 1366px) {
  .conatiner-registro-padron-propietarios {
    width: 85.5%;
    margin-left: 1%;
  }

  .conatiner-registro-padron-propietarios-select-togle-false {
    width: 89%;
    margin-left: 2%;
    transition: width 2s ease;
    /* Agrega una transición suave a la propiedad left */
  }
}

/* Media query para pantallas medianas */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .conatiner-registro-padron-propietarios {
    width: 81.5%;
  }

  .container-busqueda-upload-documentos .upload-documents-propietarios {
    padding: 17px;
    justify-content: flex-start;
  }

  /* Otros estilos aquí */
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .conatiner-registro-padron-propietarios {
    width: 91.5%;
    margin-left: 2%;
  }

  .container-busqueda-upload-documentos .upload-documents-propietarios {
    padding: 17px;
    justify-content: flex-start;
  }

  #mostrar-form-documento-socios-person-add-export+label {
    font-size: 12px;
    /* Otros estilos para pantallas pequeñas */
  }

  #mostrar-form-documento-socios-person-add-delete+label {
    font-size: 12px;
    /* Otros estilos para pantallas pequeñas */
  }

  #mostrar-form-documento-socios-person-add+label {
    font-size: 12px;
    /* Otros estilos para pantallas pequeñas */
  }

  #mostrar-form-documento-socios-person-add-import+label {
    font-size: 12px;
    /* Otros estilos para pantallas pequeñas */
  }

  .search-register-propietarios {
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
  }

  .upload-documents-propietarios {
    padding: 15px !important;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    margin-left: 2%;
  }

  .container-title-show-iamgen-ins {
    padding: 15px !important;
    display: flex !important;
    align-items: start !important;
    justify-content: flex-start !important;
    margin-left: 2% !important;
  }

  .registrar-nuevo-propietarios-add-delete-export-import {
    flex: 0 0 3px !important;
  }

  .container-title-show-iamgen-ins #mostrar-modal-documento-socio+label {
    margin-left: 0px;
  }

  .registrar-nuevo-propietarios-add-delete-export-import {
    width: 53% !important;
  }

  .container-input-search-list-propietarios {
    width: 35%;
  }

  .container-input-search-list-propietarios input {
    width: 89%;
  }

  .container-busqueda-upload-documentos {
    margin-top: 2% !important;
  }

  .container-Sidebar-view-directivo {
    position: relative;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 98%;
  }

  .Appfalse {
    position: absolute;
  }

  .App {
    position: absolute;
  }
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 400px) {
  .conatiner-registro-padron-propietarios {
    margin-top: 5%;
    width: 91.5%;
    margin-left: 2%;
  }

  .container-busqueda-upload-documentos .upload-documents-propietarios {
    padding: 17px;
    justify-content: flex-start;
  }
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 200px) {
  .conatiner-registro-padron-propietarios {
    width: 80.5%;
    margin-left: 2%;
  }

  .container-busqueda-upload-documentos .upload-documents-propietarios {
    padding: 17px;
    justify-content: flex-start;
  }
}

/* Media query para pantallas grandes */