.container-order-a-z-inquilino {
  display: flex;
  font-size: 16px;
  }
  .outer-table-registro-inquilino {
    overflow-y: auto;
    height: 60vh;
  }

  .outer-table-registro-inquilino {
    width: 100%;
    -layout: fixed;
  }

  .outer-table-registro-inquilino th {
    text-align: left;
    top: 0;
    position: sticky;
    background-color: white;
  }
  .title-Inquilinos-registrados{
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(39, 26, 10);
    font-family: 'Playfair Display', serif;
    margin-top: 1%;
    /* background-color: white; */
    padding: 8px 15px;
    font-size: 16px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
}
  
  .upload-documents-inquilino {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .container-Sidebar-view-directivo {
    padding-top: 60px;
    height: 90.7% !important;
  }
  
  .navbar-sidebar-directivos{
    height: 100%;
  }
  .title-codigo-inquilino {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    text-align: inherit;
    text-transform: none;
  }
  
  .search-register-inquilino {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  
  
  #mostrar-form-documento-inquilino-upload {
    display: none;
  
    +label {
      background: linear-gradient(to bottom right, #668a28, #84b332);
      display: table;
      color: #fff;
      line-height: 2.5;
      padding: 0 1em;
  
      cursor: pointer;
      border-radius: 7px;
  
      &:hover {
        background: darken(rgb(158, 201, 235), 10%);
      }
    }
  
    &:checked {
      &~#modal {
        top: 64px;
  
      }
  
      &~#cerrar-modal+label {
        display: block;
      }
    }
  }
  
  
  
  .registrar-nuevo-inquilino-add-delete-export-import {
    padding-top: 5px;
  }
  
  #mostrar-form-documento-inquilino-person-add {
     display: none;

    +label {
        // display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: width 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 1em;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    color: #2ecc71;
    padding: 10px;
    /* Espacio alrededor del icono */
    background-color: #fff;
    /* Color de fondo */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Sombra para un aspecto tridimensional */
    transition: width 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
      &:hover {
        width: 150px;
        /* Ancho automático */
        background-color: #fff;
  
        .button-text {
          display: inline-block;
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  
  }
  
  #mostrar-form-documento-inquilino-person-add-delete {
    display: none;
  
    +label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      border: none;
      cursor: pointer;
      transition: width 0.3s ease, background-color 0.3s ease;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 1em;
      text-transform: uppercase;
      cursor: pointer;
      color: rgb(173, 4, 4);
      padding: 10px;
      /* Espacio alrededor del icono */
      background-color: #fff;
      /* Color de fondo */
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      /* Sombra para un aspecto tridimensional */
      transition: width 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
      /* Efecto de transformación al pasar el mouse */
  
      &:hover {
       
        width: 150px;
        /* Ancho automático */
        background-color: #fff;
          .button-text {
          
            display: inline-block;
            opacity: 1;
            transform: translateX(0);
            
          }
      }
    }
  
    &:checked {
      &~#modal {
        top: 64px;
  
      }
  
      &~#cerrar-modal+label {
        display: block;
      }
    }
  }
  
  #mostrar-form-documento-inquilino-person-add-export {
    display: none;

  +label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: width 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 1em;
    text-transform: uppercase;
    cursor: pointer;

    color: #3498db;
    padding: 10px;
    /* Espacio alrededor del icono */
    background-color: #fff;
    /* Color de fondo */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Sombra para un aspecto tridimensional */
    transition: width 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    /* Efecto de transformación al pasar el mouse */

    &:hover {
      width: 150px;
      /* Ancho automático */
      background-color: #fff;

      .button-text {
        display: inline-block;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  }
  
  .button-text {
    display: none;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  
  #mostrar-form-documento-inquilino-person-add-import {
    display: none;

    +label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      border: none;
      cursor: pointer;
      transition: width 0.3s ease, background-color 0.3s ease;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 1em;
      text-transform: uppercase;
      cursor: pointer;
      color: #2ecc71;
      padding: 10px;
      /* Espacio alrededor del icono */
      background-color: #fff;
      /* Color de fondo */
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      /* Sombra para un aspecto tridimensional */
      transition: width 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
      /* Efecto de transformación al pasar el mouse */
  
      &:hover {
        width: 150px;
        /* Ancho automático */
        background-color: #fff;
  
        .button-text {
          display: inline-block;
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  #modal-mostrar-form-documento-inquilino-person-importar-excel {
    //background:rgba(#000,.9);
    z-index: 9999;
    color: #fff;
    position: fixed;
    top: -580vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all 0.5s;
  
    p {
      width: 60%;
      height: 40%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      font-size: 1.5em;
      text-align: center;
    }
  }
  
  
  
  .conatiner-registro-padron-inquilino {
    width: 100%;
  }
  
  .container-input-search-list-inquilino {
    display: flex;
    ;
    border-radius: 5px;
    align-items: center;
    height: 30px;
   
  }
  
  .container-input-search-list-inquilino input {
    border-radius: 5px 0 0 5px;
    border: 0.5px solid hsl(0, 3%, 56%);
    height: 30px;
   
  }
  
  .container-input-search-list-inquilino input:focus {
    outline: none;
    /* Oculta el borde al recibir el foco */
  }
  
  #mostrar-form-documento-inquilino-person-add-export+label {
    white-space: nowrap;
    text-align: center;
  
    /* Otros estilos para pantallas pequeñas */
  }
  
  #mostrar-form-documento-inquilino-person-add-delete+label {
    white-space: nowrap;
    text-align: center;
    text-align: center;
    /* Otros estilos para pantallas pequeñas */
  }
  
  #mostrar-form-documento-inquilino-person-add+label {
    white-space: nowrap;
    text-align: center;
    /* Otros estilos para pantallas pequeñas */
  }
  
  #mostrar-form-documento-inquilino-person-add-import+label {
    white-space: nowrap;
    text-align: center;
    /* Otros estilos para pantallas pequeñas */
  }
  
  @media screen and (max-width: 1025px){
    .container-busqueda-upload-documentos{
      margin-top: 2%;
      display: flex;
      flex-direction: column;
    }
  
  
    #mostrar-form-documento-inquilino-person-add-export+label {
      white-space: nowrap;
       font-size: 13px;
  
      /* Otros estilos para pantallas pequeñas */
    }
  
    #mostrar-form-documento-inquilino-person-add-delete+label {
      white-space: nowrap;
       font-size: 13px;
      /* Otros estilos para pantallas pequeñas */
    }
  
    #mostrar-form-documento-inquilino-person-add+label {
      white-space: nowrap;
       font-size: 13px;
      /* Otros estilos para pantallas pequeñas */
    }
  
    #mostrar-form-documento-inquilino-person-add-import+label {
      white-space: nowrap;
       font-size: 13px;
      /* Otros estilos para pantallas pequeñas */
    }
  }
  @media screen and (max-width: 767px) {
    #mostrar-form-documento-inquilino-person-add-export+label {
      font-size: 12px;
      /* Otros estilos para pantallas pequeñas */
    }
  
    #mostrar-form-documento-inquilino-person-add-delete+label {
      font-size: 12px;
      /* Otros estilos para pantallas pequeñas */
    }
  
    #mostrar-form-documento-inquilino-person-add+label {
      font-size: 12px;
      /* Otros estilos para pantallas pequeñas */
    }
  
    #mostrar-form-documento-inquilino-person-add-import+label {
      font-size: 12px;
      /* Otros estilos para pantallas pequeñas */
    }
  
    .search-register-inquilino{
      display: flex;
      justify-content: flex-start;
      margin-left: 2%;
    }
    .upload-documents-inquilino {
      padding: 15px !important;
      display: flex;
      align-items: start;
      justify-content: flex-start;
      margin-left: 2%;
    }
  
    .registrar-nuevo-inquilino-add-delete-export-import {
      width: 53% !important;
  
    }
    .container-input-search-list-inquilino {
     
      width: 35%;
    }
    
    .container-input-search-list-inquilino input {
    
      width: 89%;
    }
  .container-busqueda-upload-documentos{
    margin-top: 2% !important;
  }
    .container-Sidebar-view-directivo {
      position: relative;
      display: flex;
      /* justify-content: center; */
      /* align-items: center; */
      width: 98%;
    }
  
    .Appfalse {
      position: absolute;
  
    }
  
    .App {
      position: absolute;
  
    }
  }
  
  
  
@media screen and (min-width: 1391px) {
  .conatiner-registro-padron-inquilino
  {
    width: 83.5%;
    margin-left: 1%;
  }

  .conatiner-registro-padron-inquilino-select-togle-false {
    width: 90.5%;
    margin-left: 2%;
    transition: width 2s ease;
    /* Agrega una transición suave a la propiedad left */
  }

  /* Otros estilos aquí */
}

@media screen and (max-width: 1366px) {
  .conatiner-registro-padron-inquilino {
    width: 85.5%;
    margin-left: 1%;
  }

  .conatiner-registro-padron-inquilino-select-togle-false {
    width: 89%;
    margin-left: 2%;
    transition: width 2s ease;
    /* Agrega una transición suave a la propiedad left */
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .conatiner-registro-padron-inquilino {
    width: 81.5%;
  }

  .container-busqueda-upload-documentos .upload-documents-propietarios {
    padding: 17px;
    justify-content: flex-start;
  }

  /* Otros estilos aquí */
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .conatiner-registro-padron-inquilino {
    width: 91.5%;
    margin-left: 2%;
  }

  .container-busqueda-upload-documentos .upload-documents-propietarios {
    padding: 17px;
    justify-content: flex-start;
  }

  #mostrar-form-documento-socios-person-add-export+label {
    font-size: 12px;
    /* Otros estilos para pantallas pequeñas */
  }

  #mostrar-form-documento-socios-person-add-delete+label {
    font-size: 12px;
    /* Otros estilos para pantallas pequeñas */
  }

  #mostrar-form-documento-socios-person-add+label {
    font-size: 12px;
    /* Otros estilos para pantallas pequeñas */
  }

  #mostrar-form-documento-socios-person-add-import+label {
    font-size: 12px;
    /* Otros estilos para pantallas pequeñas */
  }

  .search-register-propietarios {
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
  }
 
  .upload-documents-propietarios {
  
    display: flex;
    align-items: start;
    justify-content: flex-start;
    margin-left: 2%;
  }

  .container-title-show-iamgen-ins {
    padding: 15px !important;
    display: flex !important;
    align-items: start !important;
    justify-content: flex-start !important;
    margin-left: 2% !important;
  }

  .registrar-nuevo-propietarios-add-delete-export-import {
    flex: 0 0 3px !important;
  }

  .container-title-show-iamgen-ins #mostrar-modal-documento-socio+label {
    margin-left: 0px;
  }

  .registrar-nuevo-propietarios-add-delete-export-import {
    width: 53% !important;
  }

  .container-input-search-list-propietarios {
    width: 35%;
  }

  .container-input-search-list-propietarios input {
    width: 89%;
  }

  .container-busqueda-upload-documentos {
    margin-top: 2% !important;
  }

  .container-Sidebar-view-directivo {
    position: relative;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 98%;
  }

  .Appfalse {
    position: absolute;
  }

  .App {
    position: absolute;
  }
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 400px) {
  .conatiner-registro-padron-inquilino {
    margin-top: 5%;
    width: 91.5%;
    margin-left: 2%;
  }

  .container-busqueda-upload-documentos .upload-documents-propietarios {
    padding: 17px;
    justify-content: flex-start;
  }
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 200px) {
  .conatiner-registro-padron-inquilino {
    width: 80.5%;
    margin-left: 2%;
  }

  .container-busqueda-upload-documentos .upload-documents-propietarios {
    padding: 17px;
    justify-content: flex-start;
  }
}



